<nav>
  <ul>
    <li><a href="{{ url_for('pages.home') }}">Home</a></li>
    <li><a href="{{ url_for('pages.logging') }}">Let's Get Logging</a></li>
    <li><a href="{{ url_for('entries.entries') }}">All Entries</a></li>
    <li><a href="{{ url_for('entries.register') }}">Register Yourself</a></li>
    <li><a href="{{ url_for('entries.create_class') }}">Register Classes</a></li>
    <li><a href="{{ url_for('entries.create') }}">Add Entry</a></li>
    <li><a href="{{ url_for('entries.edit') }}">Edit or Delete Entry</a></li>
  </ul>
</nav>