{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Member Statistics{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

</style>
  <table style="background-color:#FFFFFF;margin-left:auto;margin-right:auto;">
    <tr>
      <th>Name</th>
      <th>Average Time Contributed (min)</th>
      <th>Total Sessions</th>
      <th>Class</th>
    </tr>

  {% for post in entries %}
      <tr>
        <td>{{ post["author"] }}</td>
	<td>{{ post["average"] }}</td>
        <td>{{ post["visits"] }}</td>
	<td>{{ post["class_name"] }}</td>
      </tr>
  {% endfor %}
  </table>

{% endblock content %}